@import '../../../assets/styles/common';
:host ::ng-deep {
    .home-page {
        height: $Height;
    }
    .layout-view {
        height: $Height;
    }
    .ant-menu-item {
        outline: none;
    }
    .ant-menu-submenu-inline {
        outline: none;
    }
    .ant-layout-content {
        height: $Height;
        overflow: scroll;
    }
    .ant-layout-header {
        background: $bgColor;
    }
    .ant-layout-sider-children {
        background: #2d2f33;
    }
    .ng-star-inserted {
        height: $Height;
    }
    .logo {
        height: 35px;
        background: #2d2f33;
        margin: 16px;
        img {
            width: 100%;
            height: 35px;
        }
    }
    .ant-layout-footer {
        background: #353535;
    }
    .ant-menu,
    .ant-menu-dark .ant-menu-inline .ant-menu-sub {
        background-color: #2d2f33 !important;
    }
    .ant-menu-item-selected {
        background-color: #bfbfbf !important;
    }
    .ant-menu-submenu-arrow:before {
        background: -webkit-gradient(linear, left top, right top, from(#bfbfbf), to(#bfbfbf)) !important;
        background: linear-gradient(to right, #bfbfbf, #bfbfbf) !important;
    }
    .ant-menu-submenu-arrow:after {
        background: -webkit-gradient(linear, left top, right top, from(#bfbfbf), to(#bfbfbf)) !important;
        background: linear-gradient(to right, #bfbfbf, #bfbfbf) !important;
    }
    .icon-shuju,
    .icon-fuwuqi {
        font-size: 14px;
        margin-right: 10px;
    }
    .icon-zhongwen,
    .icon-yingwen {
        font-size: 40px;
        vertical-align: middle;
        margin-right: 5px;
    }
    .ant-dropdown-link {
        // display: inline-block;
        width: 150px !important;
        color: #333;
        font-size: 14px;
    }
    .language {
        display: inline-block;
        width: 40px;
        font-size: 14px;
    }
    .switch-language {
        color: #333 !important;
        font-size: 12px !important;
    }
    .anticon-down {
        margin-left: 5px;
    }
    .language-selection {
        float: right;
    }
    .enlarge {
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
        .icon-fangda {
            font-size: 14px;
            display: inline-block;
            width: 30px;
            text-align: center;
        }
        .icon-tuichu {
            display: inline-block;
            width: 30px;
            text-align: center; // font-size: 18px;
        }
    }
    .auto {
        display: inline-block;
        margin-left: 10px;
        img {
            width: 35px;
            height: 35px;
        }
    }
    .footer-text {
        font-size: 16px;
        color: $bgColor;
        text-align: right;
    }
}